.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--background-transparent);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: var(--foreground);
}

.navbar-content-left-content-logo {
    margin: 10px;
}

.navbar-content-right {
    margin-right: 10px;
}

.navbar-content-right-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content-right-content-anchor {
    margin: 10px;
    text-decoration: none;
    color: inherit;
    font-family: "jetbrains-regular";
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.contact a {
    text-align: center;
    color: var(--foreground);
    font-family: "sonara-rounded";
    font-size: 36px;
    text-decoration: none;
}

.contact a:hover {
    color: var(--background-lighter);
    transition-duration: 0.2s;
}

.contact a:not(:hover) {
    color: var(--foreground);
    transition-duration: 0.2s;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.footer-content {
    font-family: "jetbrains-regular";
    color: var(--background-lighter);
}

@media only screen and (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .header-content-text-panel-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 56px;
        margin: 0;
        padding: 0;
    }
    .header-content-text-panel-subtext {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--white);
    }
    .team {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .team-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .team-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40vw;
        height: 80vh;
        margin: 0;
        padding: 0;
        font-family: "sonara-rounded";
        font-size: 32px;
        color: var(--foreground);
        text-align: center;
    }
    .team-grid {
        position: relative;
        width: 40vw;
        height: 50vh;
        margin: 0;
        padding: 20px;
        padding-bottom: 10px;
        background-color: var(--background-lighter);
        border-radius: 20px;
        box-shadow: inset 0 0 10px #00000080;
        overflow-x: hidden;
    }
    .team-member {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(40vw - 20px);
        height: 15vh;
        margin-bottom: 10px;
        padding: 10px;
        background-color: var(--background-lighter);
        border-radius: 10px;
    }
    .team-member-text {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .team-member-title {
        font-family: "sonara-rounded";
        font-size: 24px;
        color: var(--foreground);
    }
    .team-member-description {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--white);
    }
    .team-member-link {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--background-lighter-2x);
    }
    .team-member-link:hover {
        color: var(--foreground);
        transition-duration: 0.2s;
    }
    .team-member-link:not(:hover) {
        color: var(--background-lighter-2x);
        transition-duration: 0.2s;
    }
    .skillset {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .skillset-content-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 32px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .skillset-content-subtext {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground);
        text-align: center;
    }
    .skillset-content-modifications {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skillset-content-modifications-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70vw;
    }
    .switches {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .switch {
        font-family: "jetbrains-regular";
        color: var(--foreground);
    }
    .restart-skills {
        font-family: "jetbrains-regular";
        font-size: 24px;
        background-color: var(--background);
        border: 0px solid var(--background);
    }
}

@media only screen and (max-width: 768px) {
    .invisible {
        animation: hide 0.2s;
        opacity: 0.2;
        cursor: not-allowed;
        pointer-events: none;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: top 0.3s;
        text-align: center;
    }
    .navbar-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-content-left {
        display: none;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .header-content-text-panel-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    .header-content-text-panel-subtext {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground);
    }
    .about-me {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .about-me-content-panel-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 32px;
        margin: 0;
        padding: 0;
    }
    .about-me-content-panel-text {
        max-width: 60vw;
    }
    .about-me-content-panel-text {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground);
    }
    .projects {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        min-height: 100vh;
    }
    .projects-content {
        display: block;
    }
    .projects-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-family: "sonara-rounded";
        font-size: 32px;
        color: var(--foreground);
        text-align: center;
    }
    .projects-grid {
        position: relative;
        width: calc(100vw - 40px);
        height: 50vh;
        margin: 0;
        padding: 20px;
        background-color: var(--background-lighter);
        border-radius: 0px;
        box-shadow: inset 0 0 10px #00000080;
        overflow-x: hidden;
    }
    .project {
        position: relative;
        width: calc(100vw - 60px);
        height: 30vh;
        margin-bottom: 10px;
        padding: 10px;
        background-color: var(--background-lighter);
        border-radius: 10px;
    }
    .project-content {
        height: 50px;
    }
    .project-text {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .project-title {
        font-family: "sonara-rounded";
        font-size: 24px;
        color: var(--foreground);
    }
    .project-description {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground-lighter);
    }
    .project-link {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--background-lighter);
    }
    .skillset {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .skillset-content-title {
        font-family: "sonara-rounded";
        color: var(--foreground);
        font-size: 32px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .skillset-content-subtext {
        font-family: "jetbrains-regular";
        font-size: 18px;
        color: var(--foreground);
        text-align: center;
    }
    .skillset-content-modifications {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skillset-content-modifications-content {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .switches {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .switch {
        font-family: "jetbrains-regular";
        color: var(--foreground);
        text-align: center;
    }
    .restart-skills {
        font-family: "jetbrains-regular";
        font-size: 24px;
        background-color: var(--background);
        border: 0px solid var(--background);
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-content {
        font-family: "jetbrains-regular";
        color: var(--foreground);
    }
    .links {
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 100;
        width: 15vw;
        text-align: center;
    }
    .links a {
        color: var(--foreground);
        font-size: 32px;
        text-decoration: none;
    }
    .links a:hover {
        color: #f2f8e1;
    }
    .line-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .line {
        width: 1px;
        height: 10vh;
        background-color: var(--foreground);
    }
}